@media screen and (max-width: 730px) {

    .menu{

        padding: 1.5rem 4rem;

    }

    .nav-item{

        display: none;

    }

    .login-button{

        display: none;

    }

    .mobile-menu-icon{

        width: 100px;
        display: block;
        background-color:white;

    }

    .mobile-menu-icon button{

        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .logo{

        position: relative;
        left:45%;

    }

}






@media screen and (max-width: 400px) {

    .logo h1{

        position: relative;
        right: 100px    ;

    }

}